<!DOCTYPE html>
<html>
  {{> views/partials/head }}
<body class="hold-transition light-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
  <div class="wrapper">
    {{> views/partials/navbar }}
    {{> views/partials/sidebar }}
    {{{embed}}}
  </div>
  {{> views/partials/footer }}
</body>
</html>